<div class="container">
  <div class="text-center m-5">
    <h1 class="display-4">
      <%= image_tag 'escapade_des-nouvelles.png', :alt => 'Des nouvelles de' %>
      <%= image_tag 'escapade_lEscapade.png', :alt => 'l\'escapade' %>
    </h1>
    <% if device == "desktop" %>
      <div class="mgl-big-screens-only class="switch-timeline">
        <span>Frise horizontale</span>
        <div class="form-check form-switch" style="display: inline-block;">
          <input class="form-check-input" type="checkbox" id="check" onclick="changeDisplay()">
          <label class="form-check-label" for="flexSwitchCheckDefault">Frise verticale</label>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div id="hide" style="opacity: 0.5;">
  <!--vue verticale-->
  <% if device == "tablet" || device == "mobile" %>
  <div id="timeline-display-vertical" style="display:block">
    <% else %>
    <div id="timeline-display-vertical" style="display:none">
      <% end %>
    <div class="timeline " data-vertical-start-position="right" data-vertical-trigger="150px">
      <div class="timeline__wrap">
        <div class="timeline__items">
          <% @posts.order("created_at").reverse.each do |post| %>
            <div class="timeline__item">
              <div class="timeline__content">
                <%if post.important? %>
                  <div class="card text-white bg-primary">
                <%else %>
                  <div class="card">
                <% end %>
                <% if post.images.attached? %>
                    <%= image_tag post.images.last.variant(quality: 20), :class => "card-img-top", :style => "width: 320px"%>
                  <% end %>
                <% if post.header.present? %>
                  <div class="card-header">
                  <%= post.header %>
                  </div>
                <% end %>
                <div class="card-body">
                  <p class="card-date"><%= post.created_at.strftime("%d/%m/%Y") %></p>
                  <div class="card-title"><%= post.title %></div>
                  <p><%= post.content %></p>
                  <% if post.images.attached? && post.images.count > 1 %>
                    <ul class="mgl-galery">
                      <% post.images.each do |img|%>
                        <li>
                          <%=link_to url_for(img.variant(quality: 20)) , :class => "img-thumbnail", :target => "_blank" do%>
                            <span class="mgl-thumbnail-sizer"><%= image_tag img.variant(quality: 10) %></span>
                          <% end %>
                        </li>
                      <% end %>
                  <% end %>
                  </ul>
                  <div class="read-more">
                    <%= link_to "Lire la suite", post_path(post), :class => "btn btn-primary", :target => "_blank" %>
                  </div>
                </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!--vue horizontale-->
  <% if device == "tablet" || device == "mobile" %>
  <div id="timeline-display-horizontal" style="display:none">
    <% else %>
  <div id="timeline-display-horizontal" style="display:block">
    <% end %>
    <div class="timeline" data-mode="horizontal" data-force-vertical-mode="800" data-rtl-mode="true" >
      <div class="timeline__wrap">
        <div class="timeline__items">
          <% @posts.each do |post| %>
            <div class="timeline__item">
              <div class="timeline__content">
                <%if post.important? %>
                  <div class="card text-white bg-primary">
                    <%else %>
                  <div class="card">
                    <% end %>
                    <% if post.images.attached? %>
                      <%= image_tag post.images.last.variant(quality: 20), :class => "card-img-top"%>
                    <% end %>
                  <% if post.header.present? %>
                    <div class="card-header">
                    <%= post.header %>
                    </div>
                  <% end %>
                  <div class="card-body">
                    <p class="card-date"><%= post.created_at.strftime("%d/%m/%Y") %></p>
                    <h5><%= post.title %></h5>
                    <p><%= truncate(post.content, length: 120, escape: false ) %></p>
                    <% if post.images.attached? && post.images.count > 1 %>
                      <ul class="mgl-galery">
                        <% post.images.each do |img|%>
                          <li>
                            <%=link_to url_for(img.variant(quality: 20)) , :class => "img-thumbnail", :target => "_blank" do%>
                              <span class="mgl-thumbnail-sizer"><%= image_tag img.variant(quality: 10) %></span>
                            <% end %>
                          </li>
                        <% end %>
                    <% end %>
                    </ul>
                    <div class="read-more">
                      <%= link_to "Lire la suite", post_path(post), :class => "btn btn-primary", :target => "_blank" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!--script pour passer de la vue verticale à la vue horizontale-->


<script>

    let displayBoolean = true
    function changeDisplay() {
        displayBoolean = !displayBoolean
        let displayVertical = document.getElementById("timeline-display-vertical");
        let displayHorizontal = document.getElementById("timeline-display-horizontal");
        if (displayBoolean === false){
            displayVertical.style.display = "block";
            displayHorizontal.style.display = "none";
        } else {
            displayVertical.style.display = "none";
            displayHorizontal.style.display = "block";
        }
    }
</script>
