<div class="container small show-1-nouvelle">
<%= form_with(model: [:admin, @post], local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :header %>
    <%= form.text_field :header %>
  </div>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :contenu %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :date_de_creation %>
    <%= form.date_field :created_at %>
  </div>



    <% if @post.images.present? %>
      <p>Images actuellement enregistrées (cochez la ou les images que vous souhaitez effacer)</p>
      <% @post.images.each do |image| %>
        <%= form.check_box :image_ids, {multiple: true}, image.id, false %>
        <%= image_tag image, size:"100x100" %> <br>
      <% end %>
    <% end %>




  <div class="field">
    <p> Status du contenu : <%= form.select(:status, options_for_select([['pending'], ['rejected'], ['validated']],@post.status)) %> </p>
  </div>

  <div class="field">
    <p>Mettre en avant ? (cochez la case) <%= form.check_box :important %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
