<div class="container small show-1-nouvelle">
  <p id="notice"><%= notice %></p>

  <div>
    <h1>
      <%= @post.title %>
    </h1>
  </div>

  <div>
    <p>
      <%= @post.content %>
    </p>
  </div>
   <div>
     <h2>Image(s)</h2>
     <ul class="mgl-galery">
     <% @post.images.each do |img|%>
       <li>
         <%=link_to url_for(img.variant(quality: 60, resize_to_limit: [750, 750])) , :class => "img-thumbnail", :target => "_blank" do%>
           <span class="mgl-thumbnail-sizer"><%= image_tag img.variant(quality: 20, resize_to_fill: [100, 100]) %></span>
         <% end %>
       </li>
     <% end %>
     </li>
   </div>
  <div class="d-flex justify-content-center" data-turbolinks="false">
    <%= link_to 'Retour', root_path %>
  </div>
</div>
